


# OPENAI_API_KEY="sk-1234"
#qwen2.5-72b
# OPENAI_BASE_URL=
#qwen3-embedding-0.6b
# EMBEDDER_BASE_URL=



#qwen-plus



MODEL0="qwen3-embedding-0.6b"

MODEL1="qwen3-8b"
MODEL2="qwen2.5-72b-instruct"

M0_BASE_URL=
M1_BASE_URL=
M2_BASE_URL=
# M0_BASE_URL=
# M1_BASE_URL=
# M2_BASE_URL=

OPENAI_API_KEY=

# OPENAI_BASE_URL=


LOCOMO_PATH=

LOCOMO_EMBEDDING_PATH=

LOCOMO_INDEX_PATH=

LOCOMO_RES_PATH=

LOCOMO_SCORE_PATH=